.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 30px;
}

.logoutButton {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-bottom: 30px;
  width: 100px;
}

.links {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.link {
  margin: 0 20px;
  font-size: 1.2rem;
  color: #333;
  text-decoration: none;
  width: 100px;
}

.link:hover {
  color: black;
  font-weight: 700;
}

.error {
  color: red;
  margin-top: 30px;
}

.icons {
  font-size: 50px;
}

.settings {
  color: black;
  text-decoration: none;
  font-weight: 500;
  margin-top: 30px;
}

.settings:hover {
  color: black;
  text-decoration: underline;
}
