.card {
  border: none;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
  margin: 20px 0 40px 0;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}

.card::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  background: linear-gradient(180deg, #000000 0%, #ffffff 100%);
  transition: opacity 0.2s ease-in-out;
}

.card:hover::before {
  opacity: 0.05;
}

/* .orders_list {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
} */

.orders {
  list-style: none;
  padding: 0;
}

.order {
  background-color: #f3f3f3;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.empty {
  text-align: center;
}
