.empty {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
}

.name {
  width: 300px;
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.image {
  flex: 0 0 200px;
  margin-right: 1rem;
}

.image img {
  display: block;
  width: 100%;
  height: auto;
}

.info {
  flex: 1;
  display: inline-block;
}

.info h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

.info p {
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
}

.button {
  width: 50px;
  height: 50px;
}

.checkout_btn {
  text-decoration: none;
  width: 200px;
  height: 60px;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove {
  height: 50px;
  margin-left: 30px;
}

.quantity {
  min-width: 110px;
  flex-wrap: nowrap;
}

.details {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 30px;
}

.price {
  font-weight: bold;
  margin-right: 30px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 20px;
}

.total p {
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.auth {
  margin: 20px;
}

@media all and (max-width: 740px) {
  .price {
    margin-right: 10px;
  }

  .item {
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    width: 100%;
  }

  .name {
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .image {
    width: 200px;
    margin: 0 auto;
  }

  .details {
    margin: 0 auto;
    justify-content: center;
    flex-direction: column;
  }

  .price {
    margin: 10px 0 15px 0;
    font-size: 30px;
  }

  .name {
    font-size: 30px;
  }
}

@media all and (max-width: 500px) {
  .total {
    align-items: center;
  }

  .total p {
    font-size: 2rem;
  }

  .price {
    margin: 10px 0 15px 0;
    font-size: 30px;
  }

  .auth {
    text-align: center;
  }
}
