.card {
  border: 1px solid white;
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;

  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
