.card {
  border: 1px solid white;
  border-radius: 20px;
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;

  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  background-color: white;
}

.title {
  color: black;
  text-decoration: none;
}

.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.label {
  font-size: 30px;
  font-weight: 500;

  position: absolute;
  bottom: 0;
}

.btn_add_to_cart {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  /* transition: background-color 0.2s ease-in-out;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25); */

  margin: 10px 15px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn_add_to_cart:hover {
  background-color: yellow;
  color: black;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.add_to_cart {
  display: flex;
  align-items: center;
}

.btn_remove_from_favorites,
.btn_add_to_favorites {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 30px;

  margin: 10px 15px;
  position: absolute;
  top: 0;
  right: 0;
}
/* =============================== */
/* ProductList.module.css */
.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.select {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

/* Цвет при наведении */
.select:hover {
  background-color: #e6e6e6;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .select {
    margin-bottom: 1rem;
  }
}

.searchInput {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 1rem;
}
