.title {
  margin-top: 40px;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
  padding-right: 40px;
}

.list::-webkit-scrollbar {
  height: 7px;
  background: rgba(255, 255, 255, 0.9);
}

.list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.item {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  margin: 30px 2px 30px 40px;
}
