.card {
  border: 1px solid white;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 50px 2px 60px 40px;
  padding: 20px;
  text-align: center;
  position: relative;
  cursor: pointer;
  box-shadow: 0 16px 70px -8px rgba(0, 0, 0, 0.25);
  background-color: white;
  display: inline-block;
}

.categories {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: #ccc transparent;
  padding-right: 40px;
  height: 350px;
}

.categories::-webkit-scrollbar {
  height: 7px;
  width: 0;
  background: rgba(255, 255, 255, 0.9);
}

.categories::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
.category {
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  margin: 30px 2px 30px 40px;
}

.img {
  height: 130px;
  width: 130px;
  object-fit: cover;
}

.href_catalog {
  margin: 20px;
  margin-bottom: 40px;
  text-align: center;
}

.text_href {
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: black;
}
.text_href:hover {
  text-decoration: underline;
  color: black;
}

.title {
  margin-top: 40px;
}

.blur_edges {
  position: relative;
}

.blur_edges::before {
  content: "";
  position: absolute;
  height: 480px;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  z-index: 1;
}

.blur_edges::after {
  content: "";
  position: absolute;
  height: 480px;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  z-index: 0.9;
}

.categoriesContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.categoriesContainer::before {
  content: "";
  height: 340px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20px;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
  z-index: 1;
}

.categoriesContainer::after {
  content: "";
  height: 340px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 20px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
  z-index: 0.9;
}

.scrollButtonLeft,
.scrollButtonRight {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  z-index: 1;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.scrollButtonLeft::before,
.scrollButtonRight::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 50%;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.scrollButtonRight::before {
  transform: translate(-60%, -50%) rotate(45deg);
}

.scrollButtonLeft::before {
  transform: translate(-40%, -50%) rotate(-135deg);
}

.scrollButtonLeft {
  left: -20px;
}

.scrollButtonRight {
  right: -20px;
}

@media all and (max-width: 500px) {
  .text_href {
    text-decoration: underline;
    text-underline-offset: 6px;
  }

  .scrollButtonLeft,
  .scrollButtonRight {
    display: none;
  }
}
